{% extends 'vehicle/base.html' %}

{% block content %}
    <h1 class="my-4">{% if request.path == '/vehicle/new' %} New Vehicle {% else %} Edit - {% endif %}
        {% if request.path != '/vehicle/new' %}<small>{{product.manufacturer}}</small>{% endif %}
    </h1>
    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <div class="form-group">
                            {% if field.field.is_checkbox %}
                                <hr style="width:50%;text-align:left;margin-left:0">
                                <div style="position: relative; top:20px;">{{ field.label }} </div> 
                                <div style="position: relative; top: -5px;">{{ field }}</div>
                                </hr>
                            {% else %}
                                {{ field.label }} {{ field }}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <input type="submit" {% if request.path == '/vehicle/new' %} value="Add" {% else %} value="Update" {% endif %} class="btn btn-success"/>
                <a href="{% url 'vehicle_list' %}"><button type="button" class="btn btn-secondary">Back</button></a>
            </form>
        </div>
    </div>
{% endblock %}